In [1]:
import pandas as pd
import numpy as np

In [2]:
from scipy import stats

In [3]:
# En estadística, solemos tener dos hipótesis: nuestra explicación 
#y la hipótesis nula, que dice que nuestra explicación no es suficiente

In [5]:
df=pd.read_csv('Grades.csv')
df

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2310,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,77.684611,2016-03-07 02:52:24.378000000,69.916150,2016-03-11 22:02:39.161000000,69.916150,2016-03-17 07:30:09.261000000,69.916150,2016-03-18 18:01:24.525000000,55.932920,2016-03-20 06:38:12.120000000,50.339628,2016-03-25 11:00:06.923000000
2311,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,75.367870,2015-11-29 02:43:27.932000000,59.934296,2015-12-03 05:30:39.218000000,48.687437,2015-12-09 15:56:44.895000000,43.008693,2015-12-13 06:18:01.342000000,38.707824,2015-12-20 02:39:39.248000000,38.707824,2015-12-22 13:34:42.931000000
2312,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,73.269463,2015-10-20 08:09:27.418000000,58.255570,2015-11-18 19:07:06.930000000,58.955570,2015-12-10 08:54:54.871000000,52.250013,2015-11-23 19:40:00.434000000,41.800010,2015-11-29 14:23:43.659000000,41.800010,2015-12-04 09:56:07.156000000
2313,1F51E050-78F7-F270-1B90-ED1BC0376763,87.268366,2016-04-03 09:04:51.646000000,87.268366,2016-04-08 19:24:29.095000000,87.268366,2016-04-12 05:43:33.853000000,69.814693,2016-04-14 10:43:58.104000000,55.851754,2016-04-19 05:37:19.322000000,55.851754,2016-04-23 03:44:06.813000000
2314,DDE0526B-7DA4-80E8-C2A6-D097F3826029,80.318105,2015-10-04 09:46:03.403000000,79.818105,2015-10-06 10:28:30.820000000,64.594484,2015-10-13 17:06:29.179000000,50.955587,2015-10-06 16:18:35.513000000,40.764470,2015-10-23 17:03:26.939000000,40.764470,2015-10-26 15:56:55.460000000

In [8]:
early_finishers=df[pd.to_datetime(df['assignment1_submission'])<'2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [10]:
#Para los late finishers queremos todo lo que no está en early finishers
late_finishers=df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [12]:
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

In [13]:
#Formaremos la hipótesis alternativa de que los números arriba dados son distintos
#Hay que definir una threshold que vamos a aceptar
#Solemos llamarla alpha y es 0.05
from scipy.stats import ttest_ind

In [14]:
ttest_ind(early_finishers['assignment1_grade'],late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.3223540853721596, pvalue=0.18618101101713855)

In [15]:
#No podemos rechazar la hipótesis nula porque nuestro valor p fue superior a alpha.
#Concluimos que las poblaciones son iguales

In [17]:
print(ttest_ind(early_finishers['assignment1_grade'],late_finishers['assignment1_grade']))
print(ttest_ind(early_finishers['assignment2_grade'],late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'],late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'],late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'],late_finishers['assignment5_grade']))

Ttest_indResult(statistic=1.3223540853721596, pvalue=0.18618101101713855)
Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)

In [18]:
#En vez de pvalues, podemos usar intervalos de confianza y análisis bayesiano

In [20]:
df1=pd.DataFrame([np.random.random(100) for x in range(100)])
df1

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.851929,0.557089,0.562921,0.885004,0.670100,0.978009,0.330104,0.471216,0.088309,0.665029,...,0.596497,0.299636,0.904116,0.131780,0.593104,0.046083,0.718974,0.614961,0.229490,0.208489
1,0.604139,0.992576,0.062160,0.271957,0.864080,0.072023,0.742794,0.407167,0.454135,0.357601,...,0.472867,0.251944,0.132978,0.294899,0.466723,0.054581,0.419626,0.452837,0.990763,0.352765
2,0.882329,0.126737,0.322606,0.774734,0.748111,0.881405,0.713526,0.192879,0.629664,0.528587,...,0.721833,0.242446,0.621459,0.395616,0.524272,0.721086,0.120511,0.859401,0.023002,0.328135
3,0.610971,0.624290,0.940454,0.341188,0.453118,0.701969,0.437532,0.532268,0.550698,0.549411,...,0.924959,0.278531,0.520237,0.743682,0.221803,0.593622,0.502926,0.647120,0.117330,0.533355
4,0.348981,0.722009,0.737326,0.877635,0.216439,0.390039,0.375883,0.233024,0.691245,0.185758,...,0.355090,0.233950,0.672976,0.443201,0.663212,0.000797,0.924525,0.303940,0.558616,0.106710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.283514,0.088067,0.328512,0.206885,0.705014,0.190857,0.056252,0.482496,0.682521,0.233781,...,0.077367,0.811656,0.544321,0.398687,0.820208,0.395577,0.924684,0.808721,0.855895,0.992939
96,0.761349,0.826748,0.256026,0.344151,0.073920,0.853112,0.247669,0.922600,0.692621,0.339290,...,0.277357,0.558545,0.803748,0.351621,0.142026,0.812584,0.189393,0.607847,0.379239,0.259661
97,0.408913,0.312991,0.451323,0.990547,0.284185,0.745920,0.006479,0.624719,0.339208,0.058398,...,0.034585,0.018073,0.606145,0.799562,0.473813,0.443976,0.367535,0.247595,0.715198,0.224651
98,0.668700,0.870689,0.838471,0.248629,0.735458,0.895081,0.129314,0.943085,0.963470,0.066473,...,0.227513,0.581292,0.854061,0.740283,0.792799,0.317303,0.887632,0.900981,0.079001,0.870472
99,0.185795,0.552397,0.602806,0.797101,0.012132,0.096972,0.640141,0.428024,0.717350,0.630796,...,0.043816,0.791049,0.387441,0.321077,0.168917,0.673495,0.396958,0.049107,0.962154,0.779301

In [21]:
df2=pd.DataFrame([np.random.random(100) for x in range(100)])

In [26]:
def test(alpha=.1):
    num_diff=0
    for col in df1.columns:
        t,p=ttest_ind(df1[col],df2[col])
        if p<=alpha:
            print('Columna {} estadísticamente significativa a alpha {} y valor p {}'.format(col,alpha,p))
            num_diff+=1

In [27]:
test()

Columna 1 estadísticamente significativa a alpha 0.1 y valor p 0.0012804402542461342
Columna 16 estadísticamente significativa a alpha 0.1 y valor p 0.05845264745419585
Columna 17 estadísticamente significativa a alpha 0.1 y valor p 0.04828441141739098
Columna 31 estadísticamente significativa a alpha 0.1 y valor p 0.005849218848935456
Columna 39 estadísticamente significativa a alpha 0.1 y valor p 0.057583727686571134
Columna 41 estadísticamente significativa a alpha 0.1 y valor p 0.026385365697461104
Columna 50 estadísticamente significativa a alpha 0.1 y valor p 0.04924079117510284
Columna 80 estadísticamente significativa a alpha 0.1 y valor p 0.023801498976015283
Columna 96 estadísticamente significativa a alpha 0.1 y valor p 0.04884774478328056
Columna 98 estadísticamente significativa a alpha 0.1 y valor p 0.03520091874484058